#!/usr/bin/env bash

# `.aliases` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === Aliases ===

# Weather
alias weather="curl -X GET 'v2.wttr.in/Jena?m'"

# Clear terminal
alias cl="clear"

# What's my IP address
alias whatsmyip="curl https://ipinfo.io/ip"

# `cat` with beautiful colors. requires: pip install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# `ping` in the 21th century.
alias ping="prettyping -c6"

# `exa` as the better `ls` command
alias ls="eza -l"

# `bat` as the new `less` command
alias cat="bat"

# have a better top experience
alias top="btop"

# have a quick way to pull changes
alias gp="git pull --rebase"

# `duf` as the new `df` command
alias df="duf"

# have a quick way to establish a tunnel
alias localtunnel="ngrok"
alias tunnel="ngrok"

# `code-insiders` command alias
alias ci="code-insiders"
