[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "alacritty-theme"]
	path = alacritty-theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "rio-terminal-themes"]
	path = rio-terminal-themes
	url = https://github.com/raphamorim/rio-terminal-themes
